{% extends "index.html" %}

{% block content %}

    <div class="container mt-4">
        <form class="col-5 mx-auto card p-3 shadow-lg" method="post">
        {% csrf_token %}
        <h1 class="d-flex justify-content-center">LogIn</h1>
        <hr>
        <div class="mb-2">
            <label for="exampleInputEmail1" class="form-label">Email</label>
            <input name="email" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" required>
        </div>
        <div class="mb-2">
            <label for="exampleInputPassword1" class="form-label">Password</label>
            <input name="password" type="password" class="form-control" id="exampleInputPassword1" required>
        </div>
        <button type="submit" class="btn btn-outline-success">Login</button>
        <span>Don't have an account. <a href="/signup/">Register here</a></span>
        </form>
    </div>

{% endblock content %}